---
import type { SkillsSection } from '@/types/sections/skills-section.types';
import SectionHeading from '../components/section-heading.astro';

export interface Props extends SkillsSection {}

const { config, skillSets } = Astro.props;
---

<div>
  <SectionHeading>{config.title}</SectionHeading>
  <div class="grid grid-cols-2 gap-4">
    {
      skillSets.map((skillSet) => (
        <div class="rounded-2xl bg-white p-4 shadow-md">
          <div class="text-base font-extrabold text-gray-900">{skillSet.title}</div>
          <div class="mt-3 flex flex-wrap gap-2 text-[12px] text-primary-900">
            {skillSet.skills.map((skill) => {
              if ('level' in skill) {
                return (
                  <div class="flex h-6 w-fit overflow-hidden rounded-full bg-primary-50 ring-1 ring-primary-100">
                    <div class="flex items-center pl-2.5 pr-2 font-semibold text-primary-900">{skill.name}</div>
                    <div class="flex items-center bg-primary-100 pl-2 pr-2.5 font-extrabold text-primary-800">
                      {skill.level}/5
                    </div>
                  </div>
                );
              }

              if (skill.name.includes(' - ')) {
                return (
                  <div class="flex h-6 w-fit overflow-hidden rounded-full bg-primary-50 ring-1 ring-primary-100">
                    <div class="flex items-center pl-2.5 pr-2 font-semibold text-primary-900">
                      {skill.name.split(' - ')[0]}
                    </div>
                    <div class="flex items-center bg-primary-100 pl-2 pr-2.5 font-semibold text-primary-800">
                      {skill.name.split(' - ')[1]}
                    </div>
                  </div>
                );
              }

              return (
                <div class="flex h-6 w-fit items-center rounded-full bg-primary-50 px-2.5 font-semibold text-primary-900 ring-1 ring-primary-100">
                  {skill.name}
                </div>
              );
            })}
          </div>
        </div>
      ))
    }
  </div>
</div>
